@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
    --Gradient-text: hsl(7, 86%, 67%);
}

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    width: 100vw;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    font-family: 'Inconsolata', serif;
    background: url('../images/background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: var(--Neutral-900);
    overflow: hidden;
}

.container {
    max-width: 350px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
}

.pattern {
    position: absolute;
    z-index: -1;
    flex-grow: 1;
}

.pattern img {
    width: 100%;
}

.lines {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.lines img {
    width: 1100px;
}

.pattern-top {
    width: 30vw;
    top: 25px;
    right: 0;

}

.pattern-bottom {
    width: 300px;
    height: 210px;
    bottom: -5px;
    left: 0;
    background-image: url('../images/pattern-squiggly-line-bottom-mobile-tablet.svg');
    background-size: cover;
}

.circle-top {
    width: 150px;
    top: -30px;
    left: -30px;
}

.circle-middle {
    width: 150px;
    top: 40%;
    right: -60px;
}

.logo {
    display: inline-block;
    margin: 1em 0 .5em;
}

.logo img {
    width: 170px;
}

/* Form section */
.form-section {
    /* display: none; */
}

h1 {
    font-size: 1.75rem;
    margin: 1em 0;
}

.description {
    font-size: 1.2rem;
    color: var(--Neutral-300);
    /* margin-bottom: 2.5em; */
}

form {
    text-align: left;
    margin: 1em 0 4em;
}

form label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.3em 0 .7em;
}

form input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: hsla(245, 19%, 35%, 0.4);
    border: 2px solid var(--Neutral-700);
    outline: none;
    color: #fff;
    font-size: 1rem;
}

form input::placeholder {
    font-family: 'Inconsolata', serif;
    font-size: 1.1rem;
    color: var(--Neutral-300);
    opacity: 0.8;
}

.upload-zone {
    font-size: 1.1rem;
    color: var(--Neutral-300);
    position: relative;
    border-radius: 10px;
    margin-bottom: .8em;
    text-align: center;
    background: hsla(245, 19%, 35%, 0.4);
    border: 2px dashed hsla(245, 15%, 58%, 0.7);
    height: 120px;
}

.upload img {
    display: block;
    width: 45px;
    margin: 0 auto 1em;
    border: 2px solid var(--Neutral-700);
    background: hsla(245, 19%, 35%, 0.6);
    border-radius: 10px;
    padding: 0.3em;
}

#avatar {
    display: none;
}

.upload {
    padding: 1em .5em;
    height: 100%;
}

.upload:hover {
    cursor: pointer;
}

.preview {
    display: none;
    padding: 1em;
}

.preview-image {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 1em;
    border-radius: 12px;
    border: 2px solid var(--Neutral-500);
    object-fit: cover;
}

.preview button {
    font-size: .8rem;
    background-color: var(--Neutral-700);
    color: var(--Neutral-300);
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.preview button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info,
.error {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--Neutral-300);
    display: flex;
    align-items: center;
    margin-top: 1em;
}

#icon {
    margin-right: .8em;
}

.btn {
    font-size: 1rem;
    font-weight: 600;
    color: var(--Neutral-900);
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--Orange-500);
    margin: 1.5em 0;

}

.dragover {
    background: hsla(245, 19%, 35%, 0.5);
}

/* Ticket Section */
.ticket-section {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--Orange-500);
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 500px;
    }

    body {
        background-image: url('../images/background-tablet.png');
    }

    .pattern-bottom {
        width: 500px;
        height: 400px;
    }
}

@media only screen and (min-height: 995px) {
    body {
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (min-height: 800px) and (orientation: landscape) {
    .logo img {
        width: 200px;
    }

    .container {
        max-width: 900px;
    }

    .lines img {
        width: 1520px;
    }

    .pattern-bottom {
        width: 100%;
        height: 740px;
        background-image: url('../images/pattern-squiggly-line-bottom-desktop.svg');
        background-size: 800px 1000px;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 3.7rem;
    }

    .description {
        font-size: 1.5rem;
    }

    form {
        margin: 2em auto 4em;
        max-width: 460px;
    }
}