@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);
    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);
}

html {
    position: relative;
    overflow-x: hidden;
    min-height: 100%;
    width: 100vw;
}

body {
    position: absolute;
    min-height: 100%;
    width: 100%;
    font-family: 'Inconsolata', serif;
    background: url('../images/background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-color: var(--Neutral-900);
    overflow: hidden;
}

.container {
    max-width: 360px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.pattern {
    position: absolute;
    z-index: -1;
    flex-grow: 1;
}

.pattern img {
    width: 100%;
}

.lines {
    width: 100vw;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.lines img {
    width: 1100px;
}

.pattern-top {
    width: 30vw;
    top: 25px;
    right: 0;

}

.pattern-bottom {
    width: 300px;
    height: 210px;
    bottom: -5px;
    left: 0;
    background-image: url('../images/pattern-squiggly-line-bottom-mobile-tablet.svg');
    background-size: cover;
}

.circle-top {
    width: 150px;
    top: -30px;
    left: -30px;
}

.circle-middle {
    width: 150px;
    top: 40%;
    right: -60px;
}

.logo {
    display: inline-block;
    margin: 1.75em 0 .5em;
}

.logo img {
    width: 165px;
}

/* Form section */

h1 {
    font-size: 1.75rem;
    margin: 1em 0;
}

.description {
    font-size: 1.2rem;
    color: var(--Neutral-300);
    line-height: 1.2;
    margin: 0 auto;
}

form {
    text-align: left;
    margin: 1em 0 4em;
}

form label {
    display: inline-block;
    font-size: 1.2rem;
    margin: 1.3em 0 .7em;
}

form input {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: hsla(245, 19%, 35%, 0.4);
    border: 1.6px solid var(--Neutral-500);
    outline: none;
    color: #fff;
    font-size: 1rem;
}

form input:focus,
.upload:focus {
    outline: 1.75px solid var(--Neutral-300);
    outline-offset: 3px;
}

form input::placeholder {
    font-family: 'Inconsolata', serif;
    font-size: 1.1rem;
    color: var(--Neutral-300);
    opacity: 0.8;
}

.upload-zone {
    font-size: 1.1rem;
    color: var(--Neutral-300);
    position: relative;
    border-radius: 10px;
    margin-bottom: .8em;
    text-align: center;
    background: hsla(245, 19%, 35%, 0.4);
    border: 2px dashed hsla(245, 15%, 58%, 0.7);
    height: 120px;
}

.upload img {
    display: block;
    width: 45px;
    margin: 0 auto 1em;
    border: 2px solid var(--Neutral-500);
    background: hsla(245, 19%, 35%, 0.8);
    border-radius: 10px;
    padding: 0.3em;
}

#avatar {
    display: none;
}

.upload {
    padding: 1em .5em;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.upload:hover {
    cursor: pointer;
}

.preview {
    display: none;
    padding: .8em 0;
}

.preview-image {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid var(--Neutral-500);
    overflow: hidden;
}

.preview-image img {
    display: inline-block;
    margin-right: 200px;
    width: 50px;
    transform: scale(1.15);
    object-fit: cover;
    object-position: -2px 1px;
}


.preview button {
    font-size: .63rem;
    background-color: var(--Neutral-700);
    color: var(--Neutral-300);
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    margin: 1.5em 0;
}

.preview button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.info,
.error {
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--Neutral-500);
    display: flex;
    align-items: center;
    margin-top: 1em;
}

#icon {
    margin-right: .8em;
}

.generate-btn {
    font-size: 1rem;
    font-weight: 600;
    color: var(--Neutral-900);
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 10px;
    background-color: var(--Orange-500);
    margin: 1.5em 0;

}

.generate-btn:hover {
    background-color: var(--Orange-700);
    cursor: pointer;
}

.dragover,
.upload:hover,
input:hover {
    background: hsla(245, 19%, 35%, 0.7);
    cursor: pointer;
}

/* Ticket Section */
.ticket-section {
    display: none;
    overflow-y: auto;
    margin: 0 auto;
}

.ticket-section h2 {
    font-size: 1.8rem;
    font-weight: 800;
    margin: 1em 0 .75em;
}

.name {
    color: #fff;
    background: linear-gradient(to right, var(--Orange-700), #fff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.email {
    color: var(--Orange-500)
}

.ticket {
    position: relative;
    width: 100%;
    min-height: 160px;
    margin: 4.5em auto 10em;
    padding: 1em;
    display: flex;
    background: url('../images/pattern-ticket.svg') no-repeat;
    background-size: 100% 100%;
    justify-content: space-between;
    text-align: left;
}

.ticket .content {
    position: relative;
    top: 0;
    left: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket .top {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
}

.mark {
    width: 100%;
    height: 30px;
    flex: 10px;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: .5em;
    flex: 90%;
}

.title .date {
    display: block;
    font-size: .9rem;
    font-weight: 400;
    color: var(--Neutral-300);
    margin-top: .5em;
}

.ticket .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
}

.profile {
    width: 45px;
    overflow: hidden;
    margin-right: .7em;
    border-radius: 7px;
}

.profile img {
    width: 100%;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.github-icon {
    height: 20px;
    margin-right: .3em;
}

.username {
    font-size: .85rem;
    display: flex;
    margin-top: .3em;
    display: flex;
    align-items: center;
    color: var(--Neutral-300);
}

.ticket-no {
    position: absolute;
    top: 40%;
    right: 0;
    font-size: 1.25rem;
    color: var(--Neutral-500);
    transform: rotate(90deg);
}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: var(--Orange-500);
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 500px;
    }

    body {
        background-image: url('../images/background-tablet.png');
    }

    .pattern-bottom {
        width: 500px;
        height: 400px;
    }

    .ticket-section .description {
        max-width: 400px;
    }

    .ticket-section h2 {
        font-size: 2rem;
    }

    .ticket {
        max-width: 75%;
        min-height: 170px;
        position: relative;
        padding: 1rem;
    }
}

@media only screen and (min-height: 995px) {
    body {
        height: 100vh;
    }
}

@media only screen and (min-width: 1024px) and (orientation: landscape) {

    .container {
        max-width: 900px;
    }

    .lines img {
        width: 1520px;
    }

    .pattern-bottom {
        width: 100%;
        height: 740px;
        background-image: url('../images/pattern-squiggly-line-bottom-desktop.svg');
        background-size: 800px 1000px;
        background-repeat: no-repeat;
    }

    h1 {
        font-size: 3.7rem;
        margin: 0.4em 0;
    }

    .form-section .description {
        font-size: 1.5rem;
    }

    .ticket-section {
        max-width: 65%
    }

    .ticket-section .description {
        margin: 0 auto;
        max-width: 60%;
    }

    form {
        margin: 2em auto 4em;
        max-width: 460px;
    }

    .ticket-section h2 {
        font-size: 2.5rem;

    }

    .ticket {
        min-height: 200px;
        padding: .75em 1em;
    }

    .title {
        font-size: 1.75rem;
    }

    .full-name {
        font-size: 1.3rem;
    }

    .profile {
        width: 55px;
    }
}

@media only screen and (min-width: 1440px) and (min-height: 800px) and (orientation: landscape) {

    .logo img {
        width: 200px;
    }

    .description {
        font-size: 1.5rem;
    }

    .ticket-section {
        max-width: 95%
    }

    .ticket-section h2 {
        font-size: 3.6rem;
    }

    .ticket {
        max-width: 70%;
        min-height: 275px;
        padding: 1.75em 1.56em;
    }

    .mark {
        height: 40px;
    }

    .title {
        font-size: 2.5rem;
    }

    .title .date {
        font-size: 1.1rem;
        margin-top: 1em;
    }

    .full-name {
        font-size: 1.8rem;
    }

    .profile {
        width: 75px;
        border-radius: 15px;
    }

    .username {
        font-size: 1.2rem;
        margin-top: .5em;
    }
}